:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #fff;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  margin: 0;
}

a {
  text-decoration: none;
}
/*NAV*/

.nav-bar {
  background-color: rgb(28, 28, 28);
  width: 100%;
  padding: 0.3rem;
  margin: 0.7rem 0;
  text-decoration: none;
}

.nav-bar ul {
  background-color: rgb(28, 28, 28);
  display: flex;
  justify-content: space-around;
}

.nav-bar ul li {
  list-style-type: none;
}

.nav-bar h1 {
  color: #fff;
}
a.active {
  text-decoration: #fff wavy underline;
}

/*MOVIELIST*/
.movieList-section {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  /* overflow-x: hidden; */
}
/*MOVIE CARD*/
.movie-card {
  background-color: rgb(28, 28, 28);
  border-radius: 1rem;
  color: white;
  height: 100%;
}

.movie-card img {
  width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
}

.movie-card-text-content {
  padding: 0rem 0.5rem 2rem;
}

.moviedetails-section {
  background-repeat: no-repeat;
  background-size: cover;
}

.moviedetails-wrapper {
  padding: 1rem;
}

.moviedetails-wrapper img {
  border: solid #fff;
  width: 100%;
}

.description {
  width: 100%;
}

@media (min-width: 400px) {
  .moviedetails-wrapper img {
    width: 60%;
  }
}

@media (min-width: 800px) {
  .moviedetails-wrapper img {
    width: 30%;
  }
}
