:root {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  color: white;
}
p {
  color: white;
}

.movieList-section {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.movie-item {
  background-color: aqua;
}

.movie-item img {
  width: 100%;
}

.moviedetails-wrapper {
  padding: 1rem; 
}

.moviedetails-wrapper img {
  border: solid #fff;
  width: 100%;
}

.description {
  width: 100%;
}

@media (min-width: 400px) {
  .moviedetails-wrapper img {
    width: 60%; 
  }

}

@media (min-width: 800px) {
  .moviedetails-wrapper img {
    width: 30%; 
  }
}


